$mobile-width: 400px;
$tablet-width: 768px;
$iPad-Pro-width: 1024px;
$desktop-width: 1200px;
$HD-Desktop: 1600px;
$High-Desktop: 2000px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$HD-Desktop - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$HD-Desktop}) and (max-width: #{$High-Desktop}) {
    @content;
  }
}

.site-layout {
  padding: 15px;
}

.skeleton {
  width: 100%;
}

//
//
//
//
//
//
//
// VERTICAL ALIGNS
//
//
//
//

.va-minus-2 {
  vertical-align: -2px !important;
}

.va-minus-4 {
  vertical-align: -4px !important;
}

.va-minus-6 {
  vertical-align: -6px !important;
}

//
//
//
//
//
//
//
// MARGINS
//
//
//
//

.mg-auto {
  margin: auto !important;
}

.mg-zero {
  margin: 0 !important;
}

.mg-x-auto {
  margin: 0px auto !important;
}

.m-y-auto {
  margin: auto 0px !important;
}

.mg-x-5 {
  margin: 0px 5px !important;
}

.mg-x-10 {
  margin: 0px 10px !important;
}

.mg-x-15 {
  margin: 0px 15px !important;
}

.mg-x-20 {
  margin: 0px 20px !important;
}

.mg-x-25 {
  margin: 0px 25px !important;
}

.mg-x-30 {
  margin: 0px 30px !important;
}

.mg-y-5 {
  margin: 5px 0px !important;
}

.mg-y-10 {
  margin: 10px 0px !important;
}

.mg-y-15 {
  margin: 15px 0px !important;
}

.mg-y-20 {
  margin: 20px 0px !important;
}

.mg-y-25 {
  margin: 25px 0px !important;
}

.mg-y-30 {
  margin: 30px 0px !important;
}

.mg-5 {
  margin: 5px !important;
}

.mg-10 {
  margin: 10px !important;
}

.mg-20 {
  margin: 20px !important;
}

.mg-25 {
  margin: 25px !important;
}

.mg-30 {
  margin: 30px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

//
//
//
//
//
//
//
// PADDINGS
//
//
//
//

.pd-5 {
  padding: 5px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pd-30 {
  padding: 30px !important;
}

.pd-x-5 {
  padding: 0px 5px !important;
}

.pd-x-10 {
  padding: 0px 10px !important;
}

.pd-x-15 {
  padding: 0px 15px !important;
}

.pd-x-20 {
  padding: 0px 20px !important;
}

.pd-x-25 {
  padding: 0px 25px !important;
}

.pd-x-30 {
  padding: 0px 30px !important;
}

.pd-y-5 {
  padding: 5px 0px !important;
}

.pd-y-10 {
  padding: 10px 0px !important;
}

.pd-y-15 {
  padding: 15px 0px !important;
}

.pd-y-20 {
  padding: 20px 0px !important;
}

.pd-y-25 {
  padding: 25px 0px !important;
}

.pd-y-30 {
  padding: 30px 0px !important;
}

.pd-zero {
  padding: 0 !important;
}

.pd-l-5 {
  padding-left: 5px !important;
}

.pd-l-10 {
  padding-left: 10px !important;
}
.pd-l-15 {
  padding-left: 15px !important;
}
.pd-l-20 {
  padding-left: 20px !important;
}
.pd-l-25 {
  padding-left: 25px !important;
}
.pd-l-30 {
  padding-left: 30px !important;
}

.pd-r-5 {
  padding-right: 5px !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}
.pd-r-15 {
  padding-right: 15px !important;
}
.pd-r-20 {
  padding-right: 20px !important;
}
.pd-r-25 {
  padding-right: 25px !important;
}
.pd-r-30 {
  padding-right: 30px !important;
}

//
//
//
//
//
//
//
// POSITION
//
//
//
//

.ps-rel {
  position: relative !important;
}

.ps-abs {
  position: absolute !important;
}

//
//
//
//
//
//
//
// FONT WEIGHT
//
//
//
//

.fw-bold {
  font-weight: bold !important;
}

.fw-600 {
  font-weight: 600 !important;
}

//
//
//
//
//
//
//
// FONT SIZE
//
//
//
//

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

//
//
//
//
//
//
//
// TEXT TRANSFORM
//
//
//
//

.t-transform-cpt {
  text-transform: capitalize !important;
}

.t-transform-uc {
  text-transform: uppercase !important;
}

.t-transform-lc {
  text-transform: lowercase !important;
}

//
//
//
//
//
//
//
// WIDTH
//
//
//
//

.wd-100pc {
  width: 100% !important;
}

.max-wd-100pc {
  max-width: 100% !important;
}

//
//
//
//
//
//
//
// LINE HEIGHT
//
//
//
//

.lh-1 {
  line-height: 1 !important;
}

.lh-1-5 {
  line-height: 1.5 !important;
}

.lh-1-6 {
  line-height: 1.6 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.lh-2-5 {
  line-height: 2.5 !important;
}

.lh-3 {
  line-height: 3 !important;
}

.lh-4 {
  line-height: 4 !important;
}

.lh-5 {
  line-height: 5 !important;
}

.lh-6 {
  line-height: 6 !important;
}

//
//
//
//
//
//
//
// BORDER RADIUS
//
//
//
//

.br-5 {
  border-radius: 5px !important;
}

.br-10 {
  border-radius: 10px !important;
}

.br-15 {
  border-radius: 15px !important;
}

.br-20 {
  border-radius: 20px !important;
}

.br-circle {
  border-radius: 50% !important;
}

//
//
//
//
//
//
//
// IMG PROPERTIES
//
//
//
//
.o-fit-cover {
  object-fit: cover !important;
}

.o-position-center {
  object-position: center;
}

//
//
//
//
//
//
//
// DIV COVER
//
//
//
//

.bs-cover {
  background-size: cover;
}

.bs-contain {
  background-size: contain;
}

.bp-center {
  background-position: center;
}

//
//
//
//
//
//
//
// TEXT ALIGN
//
//
//
//

.ta-center {
  text-align: center !important;
}

.ta-justify {
  text-align: justify !important;
}

//
//
//
//
//
//
//
// FLEX PROPERTIES
//
//
//
//

.jc-center {
  justify-content: center !important;
}

.ai-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-flow: row !important;
}

.flex-wrap {
  flex-flow: row wrap !important;
}

.flex-column {
  flex-flow: column !important;
}

.flex-auto {
  flex: auto !important;
}

//
//
//
//
//
//
//
// GRADIENTS
//
//
//
//

.instagram-text-fill-gradient {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moon-gradient {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sun-gradient {
  background-image: linear-gradient(135deg, #ffe985 10%, #fa742b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

//
//
//
//
//
//
//
// MISC PROPERTIES
//
//
//
//

.logoLight {
  margin-left: 20px;
}

.logoDark {
  margin-left: 20px;
}

.cursor-pointer {
  cursor: pointer !important;
}

:target {
  border: 1px solid #1890ff;
  padding: 10px;
}

.anchor-heading::before {
  content: "# ";
  color: #1890ff;
}

.article-list-item {
  .article-list-item-title {
    font-size: 16px;
  }
  @include mobile {
    img {
      width: 85px;
      height: 85px;
    }

    .article-list-item-title {
      font-size: 14px;
    }
    .ant-list-item-extra {
      margin: unset !important;
    }

    .ant-list-item-action {
      @include mobile {
        width: 100% !important;
      }
    }
  }
}

// .fire-gradient {
//   background-color: #f7b42c;
//   background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .red-gradient {
// background-color: #f71735;
// background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .yellow-gradient {
//   background-color: #fbb034;
//   background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.light .ant-list-vertical .ant-list-item-action > li {
  padding: 0px 10px !important;
}

.light .ant-list-vertical .ant-list-item-action > li:first-child {
  padding-left: 0 !important;
}

.adminContainer {
  @include mobile {
    margin-left: 0 !important;
  }
}
