.ant-page-header-heading-extra {
  margin: 0px 0px;
  margin-top: 11px;
}

@media (prefers-color-scheme: dark) {
  nav button {
    color: white !important;
  }
}

@media (prefers-color-scheme: dark) {
  .ant-menu-item span a {
    color: inherit;
    -webkit-transition: none;
    transition: none;
  }
}

@media (prefers-color-scheme: light) {
  .ant-menu-item span a {
    color: inherit;
    -webkit-transition: none;
    transition: none;
  }
}

.ant-card {
  margin: 10px 20px !important;
}

@media (min-width: 400px) and (max-width: 767px) {
  .ant-card {
    margin: 10px 0px !important;
  }
}

.mainLayout {
  padding: 0 24px 24px;
}

@media (min-width: 400px) and (max-width: 767px) {
  .mainLayout {
    padding: 0px;
    margin-left: 0;
  }
}

@media (prefers-color-scheme: light) {
  .ant-list-item-meta-title a {
    color: #262626 !important;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .ant-page-header {
    padding: 16px 15px;
  }
}

.skeleton {
  width: 100%;
}

.ph-item {
  border: 0;
  padding: 0;
  margin: 0;
  background: #fbfbfb !important;
}

@media (prefers-color-scheme: dark) {
  .ph-item {
    background: #141414 !important;
  }
}

.ph-item .ph-picture {
  width: 270px;
  height: 200px;
}

@media (prefers-color-scheme: dark) {
  .ph-item .ph-picture {
    background: #171717;
  }
}

@media (prefers-color-scheme: light) {
  .ph-item .ph-picture {
    background: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  .ph-item .ph-avatar {
    background: #202020;
  }
}

@media (prefers-color-scheme: light) {
  .ph-item .ph-avatar {
    background: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  .ph-item .ph-row > div {
    background: #202020 !important;
  }
}

@media (prefers-color-scheme: light) {
  .ph-item .ph-row > div {
    background: #f2f2f2;
  }
}

.ri-lg {
  vertical-align: -0.2em !important;
}

.ri-xl {
  vertical-align: -0.2em !important;
}

.ri-sm {
  vertical-align: -0.2em !important;
}

.ri-xs {
  vertical-align: -0.2em !important;
}

.ri-1x {
  vertical-align: -0.2em !important;
}

.ri-2x {
  vertical-align: -0.2em !important;
}

.ant-page-header-heading-extra {
  margin: 0px 0 !important;
  margin-top: 10px !important;
  white-space: nowrap;
}

.site-layout {
  padding: 0px 24px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.ant-card-meta-title {
  white-space: normal !important;
  height: 55px;
}

.ant-page-header-heading-title {
  white-space: normal !important;
}

@media (min-width: 400px) and (max-width: 767px) {
  .articleTitle {
    margin-left: 20px;
  }
}

.titleCol {
  margin-right: 20px;
}

@media (min-width: 400px) and (max-width: 767px) {
  .titleCol {
    margin-right: 0px;
  }
}

.articleHeader {
  padding-top: 16px !important;
}

@media (prefers-color-scheme: dark) {
  .tox .tox-editor-header {
    background: #141414 !important;
  }
  .tox .tox-editor-header .tox-menubar {
    background: none !important;
    background-color: unset !important;
  }
  .tox .tox-editor-header .tox-toolbar-overlord {
    background-color: unset !important;
  }
  .tox .tox-editor-header .tox-toolbar-overlord .tox-toolbar__primary {
    background: none !important;
    background-color: unset !important;
  }
  .tox .tox-editor-header .tox-toolbar-overlord .tox-toolbar__overflow {
    background: none !important;
    background-color: unset !important;
  }
}

.tox .tox-statusbar {
  background-color: unset !important;
}

.ant-page-header-heading-extra {
  white-space: unset !important;
}

.ant-affix {
  z-index: -1 !important;
}

@media (min-width: 400px) and (max-width: 767px) {
  .highlights {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
            flex-flow: row !important;
    overflow: auto !important;
  }
}

.highlight-decide {
  display: block;
}

@media (min-width: 400px) and (max-width: 767px) {
  .highlight-decide {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .highlight-decide {
    display: none;
  }
}

.warning-col {
  display: none;
}

@media (min-width: 400px) and (max-width: 767px) {
  .warning-col {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .warning-col {
    display: block;
  }
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.el {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #141414;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}

.unset-button {
  background-color: unset !important;
}

@media (prefers-color-scheme: dark) {
  .unset-button {
    color: white !important;
  }
}

@media (prefers-color-scheme: light) {
  .unset-button {
    color: #1890ff !important;
  }
}

@media (prefers-color-scheme: dark) {
  .unset-button:hover {
    background-color: #1890ff !important;
  }
}

@media (prefers-color-scheme: light) {
  .unset-button:hover {
    background-color: #1890ff !important;
    color: white !important;
  }
}

.sidebar-heading {
  font-size: 16px;
  margin: 20px;
  line-height: 2;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pd-30 {
  padding: 30px !important;
}

.ps-rel {
  position: relative !important;
}

.ps-abs {
  position: absolute !important;
}

.mg-auto {
  margin: auto !important;
}

.mg-zero {
  margin: 0 !important;
}

.mg-5 {
  margin: 5px !important;
}

.mg-10 {
  margin: 10px !important;
}

.mg-20 {
  margin: 20px !important;
}

.mg-25 {
  margin: 25px !important;
}

.mg-30 {
  margin: 30px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.sidebar-space {
  margin: 10px 20px !important;
}

.sticky-sidebar-menu {
  height: 100vh !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  overflow-x: hidden !important;
}

.wd-100pc {
  width: 100% !important;
}

.max-wd-100pc {
  max-width: 100% !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.lh-3 {
  line-height: 3 !important;
}

.lh-4 {
  line-height: 4 !important;
}

.lh-5 {
  line-height: 5 !important;
}

.lh-6 {
  line-height: 6 !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.br-5 {
  border-radius: 5px !important;
}

.br-10 {
  border-radius: 10px !important;
}

.br-15 {
  border-radius: 15px !important;
}

.br-20 {
  border-radius: 20px !important;
}

.br-circle {
  border-radius: 50% !important;
}

.o-fit-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.ta-center {
  text-align: center !important;
}

.ta-justify {
  text-align: justify !important;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  height: 40px;
  width: 40px;
  border-radius: 5px;
  padding: 1.2px;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */