$mobile-width: 400px;
$tablet-width: 768px;
$iPad-Pro-width: 1024px;
$desktop-width: 1200px;
$HD-Desktop: 1600px;
$High-Desktop: 2000px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$HD-Desktop - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$HD-Desktop}) and (max-width: #{$High-Desktop}) {
    @content;
  }
}

.ant-page-header-heading-extra {
  margin: 0px 0px;
  margin-top: 11px;
}

nav {
  button {
    @media (prefers-color-scheme: dark) {
      color: white !important;
    }
    // @media (prefers-color-scheme: light) {
    //   color: #ffffffa6;
    // }
  }
}

.ant-menu-item {
  span {
    a {
      @media (prefers-color-scheme: dark) {
        color: inherit;
        transition: none;
      }

      @media (prefers-color-scheme: light) {
        color: inherit;
        transition: none;
      }
    }
  }
}

// .mainLayout {
//   height: 100vh !important;

//   @include mobile {
//     height: 100%;
//   }
// }

.ant-card {
  margin: 10px 20px !important;
  @include mobile {
    margin: 10px 0px !important;
  }
}

.mainLayout {
  padding: 0 24px 24px;
  // height: 100vh !important;
  @include mobile {
    padding: 0px;
    margin-left: 0;
  }
}

.ant-list-item-meta-title {
  @media (prefers-color-scheme: light) {
    a {
      color: rgb(38, 38, 38) !important;
    }
  }
}

.ant-page-header {
  @include mobile {
    padding: 16px 15px;
  }
}

.ant-list-vertical .ant-list-item-extra {
  @include mobile {
  }
}

.skeleton {
  width: 100%;
}

.ph-item {
  border: 0;
  padding: 0;
  margin: 0;
  background: #fbfbfb !important;
  @media (prefers-color-scheme: dark) {
    background: #141414 !important;
  }
  .ph-picture {
    width: 270px;
    height: 200px;
    @media (prefers-color-scheme: dark) {
      background: #171717;
    }
    @media (prefers-color-scheme: light) {
      background: #f2f2f2;
    }
  }

  .ph-avatar {
    @media (prefers-color-scheme: dark) {
      background: #202020;
    }
    @media (prefers-color-scheme: light) {
      background: #f2f2f2;
    }
  }

  .ph-row > div {
    @media (prefers-color-scheme: dark) {
      background: #202020 !important;
    }
    @media (prefers-color-scheme: light) {
      background: #f2f2f2;
    }
  }
}

.ri-lg {
  vertical-align: -0.3em !important;
}

.ri-xl {
  vertical-align: -0.3em !important;
}

.ri-sm {
  vertical-align: -0.3em !important;
}

.ri-xs {
  vertical-align: -0.3em !important;
}

.ri-1x {
  vertical-align: -0.3em !important;
}

.ri-2x {
  vertical-align: -0.3em !important;
}

.ant-page-header-heading-extra {
  margin: 0px 0 !important;
  margin-top: 10px !important;
  white-space: nowrap;
}

.site-layout {
  padding: 0px 24px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.ant-card-meta-title {
  white-space: normal !important;
  height: 55px;
}

.ant-page-header-heading-title {
  white-space: normal !important;
}

.ant-layout-sider {
  position: sticky !important;
  height: 100vh;
  top: 0;

  @include mobile {
    position: relative !important;
    height: unset !important;
  }
}

.articleTitle {
  @include mobile {
    margin-left: 20px;
  }
}

.titleCol {
  margin-right: 20px;

  @include mobile {
    margin-right: 0px;
  }
}

.articleHeader {
  padding-top: 16px !important;
}

.tox {
  @media (prefers-color-scheme: dark) {
    .tox-editor-header {
      background: #141414 !important;
      .tox-menubar {
        background: none !important;
        background-color: unset !important;
      }

      .tox-toolbar-overlord {
        background-color: unset !important;
        .tox-toolbar__primary {
          background: none !important;
          background-color: unset !important;
        }
        .tox-toolbar__overflow {
          background: none !important;
          background-color: unset !important;
        }
      }
    }
  }

  .tox-statusbar {
    background-color: unset !important;
  }
}

.ant-page-header-heading-extra {
  white-space: unset !important;
}

// .submitComment {
//   @media (prefers-color-scheme: dark) {
//     background-color: #2ff579 !important;
//     color: #141414 !important;
//     outline: none !important;
//     border: none !important;
//   }
// }

.ant-affix {
  z-index: -1 !important;
}

.highlights {
  @include mobile {
    flex-flow: row !important;
    overflow: auto !important;
  }
}

.highlight-decide {
  display: block;
  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}
.warning-col {
  display: none;
  @include mobile {
    display: block;
  }

  @include tablet {
    display: block;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.el {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #141414;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}
